<div class="alternativex article">
  <h2>Freedom</h2>

  <p>Freedom is important for Dark Entity as it likes privacy. It's data should remain in Darkness and not being holded by big tech companies.</p>
  <p>Here I will write about self-hosting, hosting things on Raspberry Pi, and taking care of your privacy, aswell as sharing some links to good stuff about privacy</p>

  <h2>The Index</h2>
  <ul>
    <li>Stop using Chrome kids, install Firefox!</li>
    <li>Nothing to show here for now...</li>
  </ul>
</div>
