<div class="alternativex article">
  <h2 class="alternativex accent-2">AlternativeX</h2>
  <p>
    AlternativeX is Angular UI & Component library concept created by me. Yea it's concept for now, if I find energy I will create full lib from this. LGPL licenced uwu.<br>
    AlternativeX is content focused, light and blazingly fast library. Yea I know, it's built for Angular, but hey! Angular can be blazingly fast aswell if not loaded with tons of shit.<br>
    AlternativeX is act of rebellion against Web 2.0, loaded with tons and tons of javascript, css, heavy images, heavy ads, tracking shit. It's all so heavy that Facebook{{' '}}
    for example is able to use more resources than fucking video game, ya know 3D with graphics and textures. It's sick.<br>
    I want my pages to be clean, fast, reactive and responsive. The lighter and simpler UI is, the more responsive experience you can get out of it.<br><br>
    And I don't know, I feel kinda charmed by sites that looks so simple, so basic, yet so clean, so I decided I need one for myself ❤️
  </p>

  <h3 class="alternativex accent-2">Showcase WIP</h3>
  <div class="showcase alternativex">
    <p>Normal paragraph</p>
    <p class="success">Success message</p>
    <p class="warning">Warning message</p>
    <p class="error">Error message</p>
    <p class="secondary">Less important message</p>
    <p class="accent-1">Accented caption 1</p>
    <p class="accent-2">Accented caption 2</p>
    <p><a [routerLink]="'.'">Link to website</a></p>
  </div>
</div>
