<div class="alternativex article">
  <h2>Who is Dark Entity</h2>
  <p>
    In Darkness was born, in Darkness it lives, never leaving, never showing itself nor reaches for the light, hiding deep inside, somewhere there, never seen...{{' '}}
  </p>

  <h3>Welcome to my world...</h3>
  <p>
    ...close the gates*<br>
    I saw this cool domain was free, so it was mine to take!<br>
    Some awesome things will appear here soon...
  </p>

  <p class="secondary small">
    * first line from song Stratovarius - Fantasy
  </p>
  <h2>The Index</h2>
  <ul class="alternativex">
    <li>
      <a target="_blank" href="https://github.com/ScuroGuardiano">Github</a>
    </li>
    <li>
      <a [routerLink]="'/alternativex'">AlternativeX</a>
    </li>
    <li>
      <a target="_blank" href="https://discord.gg/vzuHKYg8Ys">Hey! Come to my Discord [PL only sadly]</a>
    </li>
    <li>
      Currently nothing more to show here...
    </li>
  </ul>
</div>
