<div class="alternativex">
  <nav>
    <input class="in-medium" type="text" placeholder="Input title here...">
    <select [(ngModel)]="editorOptions.language" (change)="changeLanguage()" class="sel-medium">
      <option *ngFor="let language of availableLanguages" [value]="language.id">
        {{ language.id }}
      </option>
    </select>
    <button class="btn-medium" >Save</button>
  </nav>
  <main>
    <h2 *ngIf="loading" class="accent-1">Loading Monaco Editor...</h2>
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="code" (onInit)="monacoLoaded($event)"></ngx-monaco-editor>
  </main>
</div>
