@import './theme';

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
  background-color: $main-background;
  color: $main;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1.2rem;
}
.alternativex {
  a, &a {
    text-decoration: underline;
    font-weight: bolder;
    color: $accent1;
    transition: color .2s linear, background-color .2s linear;
    &:hover {
      background-color: $accent1;
      color: $main-background;
    }
  }
  .error, &.error {
    color: $error;
  }
  .success, &.success {
    color: $success;
  }
  .warning, &.warning {
    color: $warning;
  }
  .accent-1, &.accent-1 {
    color: $accent1;
  }
  .accent-2, &.accent-2 {
    color: $accent2;
  }
  .secondary, &.secondary {
    color: $secondary;
  }

  .header, &.header {
    border-bottom: $main solid 1px;
    padding-left: .5rem;
  }

  .in-medium, &.in-medium,
  .btn-medium, &.btn-medium,
  .sel-medium, &.sel-medium {
    border: solid 2px $main;
    color: $main;
    background-color: $main-background;
    font-size: 1.2rem;
    padding: .3rem;
  }

  .btn-medium, &.btn-medium {
    transition: color .2s linear, background-color .2s linear;
    cursor: pointer;

    &:hover {
      color: $main-background;
      background-color: $main;
    }
  }

  .sel-medium, &.sel-medium {
    cursor: pointer;

    &:not(:focus):hover {
      color: $main-background;
      background-color: $main;
    }
  }


  .footer, &.footer {
    border-top: $main solid 1px;
    text-align: center;
  }

  .article, &.article {
    padding: 0 1rem;
    width: 100%;
    max-width: 800px;
    h1, h2, h3, h4, h5, h6 {
      color: $accent2;
      &::before {
        content: '# '
      }
    }
    h1 {
      margin-left: -.6rem;
    }
    h2 {
      margin-left: -.5rem;
    }
    h3 {
      margin-left: -.4rem;
    }
    h4 {
      margin-left: -.3rem;
    }
    h5 {
      margin-left: -.2rem;
    }
    h6 {
      margin-left: -.1rem;
    }

    blockquote {
      border-left: .8rem solid $secondary;
      padding-left: 1rem;
      margin: 0;
      color: $secondary;
      font-style: italic;
    }
  }

  .small, &.small {
    font-size: .8rem;
  }
}
