@import '../../../theme';

ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: center;
}

.activated {
  color: $main-background;
  background: $accent1;
}
